@page "/Add Offer"
@using Photr_LBPrjoect.Controller
@using BusinessLogic
@using Common
@using Photr_LBPrjoect.Model
@using Common.ViewModels
@using MatBlazor
@using System.Drawing

<div class="container-fluid text-center">
	<div class="row">
		<div class="col-3">

		</div>
		<div class="col-6">
			<p>
				<h3>Add Offer</h3>
			</p>

			<div class="row">
				<div class="col-6">
					<label>Namen</label>
					<br />
					<label>Preis</label>
				</div>
				<div class="col-6">
					<input value=@inputeTitle />
					<br />
					<input type="number" value=@inputePrice />
				</div>
			</div>
			<br />
			<p>
				<label>Bildeingabe</label>
			<input value=@image type="file" asp-for="image.file" />
			</p>

			<p>
				<button @onclick="AddOffer">Add Offer</button>
			</p>
		</div>
		<div class="col-3">

		</div>
	</div>
</div>




<label>@errorMsg</label>
@code {
	BusinessLogic.Helper helper = new BusinessLogic.Helper(false);
	string inputePrice = string.Empty;
	string inputeTitle = string.Empty;
	string errorMsg = string.Empty;
	public Bitmap image;
	private async Task AddOffer()
	{
		errorMsg = string.Empty;
		double convertedDouble = 0;
		bool succes = false;
		try
		{
			convertedDouble = Convert.ToDouble(inputePrice);
		}
		catch
		{
			errorMsg = "Bitte geben Sie eine Nummer ein";
		}
		try
		{
			MainPageViewModel oneOffer = new MainPageViewModel()
				{
					Author = "TestUser",
					Price = convertedDouble,
					Titel = inputeTitle,
					TitelPic = image,
				};
			succes = helper.AnnexData<MainPageViewModel>(oneOffer);
			if (succes)
			{
				inputePrice = string.Empty;
				inputeTitle = string.Empty;
				image = null;
			}
			else
			{

			}
		}
		catch
		{
			errorMsg = "Bitte geben Sie ale Daten ein";
		}

	}
}
