@page "/Test"
@using Photr_LBPrjoect.Controller
@using BusinessLogic
@using Common
@using Photr_LBPrjoect.Model
@using Pages
@using System.Drawing

<h3>Detail</h3>

@foreach (var item in allPics)
{
	
}

<button @onclick="@AddSelectedItemToWarenkorb"></button>
@code {
	Pages.Warenkorb warenkorb = new Pages.Warenkorb();

	Photr selectedService = new Photr();

	BusinessLogic.Helper helper = new BusinessLogic.Helper(false);
	List<Picture> allPics = new List<Picture>();
	public void GetDetail(int PhotrID)
	{
		//allPics = helper.GetSpecificData<Picture>(whereData: selectedService.Author, whereStatement: nameof(Picture.Author)).ToList();
		allPics = new List<Picture>()
		{
			new Picture()
			{
				Id = 1,
				Author = "testAuth1",
				Photo = "https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Duck_standing.jpg/640px-Duck_standing.jpg"
			}
		};
	}
	public void AddSelectedItemToWarenkorb()
	{
		warenkorb.AddToWarenkorb(selectedService);
	}
}
