@page "/"
@using Photr_LBPrjoect.Controller
@using BusinessLogic
@using Common
@using Photr_LBPrjoect.Model
@using MatBlazor


<PageTitle>Index Shop page</PageTitle>


@foreach (var selectedItem in allDataBaseEntrys)
{
	<div class="@selectedItem" @onclick="((e) => itemClicked(selectedItem))">

	</div>
}

@code {
    BusinessLogic.Helper helper = new BusinessLogic.Helper(false);

    List<PhotrDb> allDataBaseEntrys = new List<PhotrDb>();

    public void GetShopItems()
    {
        allDataBaseEntrys = helper.GetData<PhotrDb>();

    }
    public void itemClicked(object item)
    {
    }

}