@page "/"
@using Photr_LBPrjoect.Controller
@using BusinessLogic
@using Common
@using Photr_LBPrjoect.Model
@using Common.ViewModels
@using MatBlazor
@using System.Drawing
@page "/on-init"

<PageTitle>Index Shop page</PageTitle>

<style>
    .demo-mat-card {
        max-width: 400px;
    }
 
    .demo-mat-card-content {
        padding: 1rem;
    }
 
    .demo-mat-card-clean-margin {
        margin: 0px;
    }
</style>

@foreach (var selectedItem in allOffersForMainPage)
{
        <MatCard class="demo-mat-card">
            <MatCardContent>
                <MatCardMedia Wide="true" Image=@selectedItem.TitelPic></MatCardMedia>
                <div class="demo-mat-card-content">
                    <MatHeadline6 class="demo-mat-card-clean-margin">
                        @selectedItem.Titel.ToString();
                    </MatHeadline6>
                    <MatSubtitle2 class="demo-mat-card-clean-margin">
                        @selectedItem.Author.ToString();
                    </MatSubtitle2>
                </div>
            </MatCardContent>
        </MatCard>
}

@code {
	BusinessLogic.Helper helper = new BusinessLogic.Helper(false);

	List<Photr> allDataBaseEntrys = new List<Photr>();
	List<Picture> allDataBasePic = new List<Picture>();
	List<MainPageViewModel> allOffersForMainPage = new List<MainPageViewModel>();
	//protected override void OnInitialized()
	//{
	//	allDataBaseEntrys = helper.GetData<Photr>();
	//}
	public void GetShopItems()
	{
		allDataBaseEntrys = helper.GetData<Photr>();

		foreach (var item in allDataBaseEntrys)
		{
			//allDataBasePic = helper.GetSpecificData<Picture>(whereData: item.Author, whereStatement: nameof(Picture.Author));
			allDataBasePic = new List<Picture>(){new Picture()
			{
				Id = 1,
				Author = "testSeller",
				Photo = new Bitmap(@"C:\Users\dario\Documents\GitHub\Photr_LBProject\Photr_LBPrjoect\Photr_LBPrjoect\wwwroot\testimage\testimage.png")
			}
			};
			MainPageViewModel oneOffer = new MainPageViewModel()
				{
					Author = item.Author,
					Price = item.Price,
					Titel = item.Titel,
					TitelPic = allDataBasePic.FirstOrDefault().Photo
				};
			allOffersForMainPage.Add(oneOffer);
		}
	}
	public void itemClicked(object item)
	{

	}

}