@page "/"
@using Photr_LBPrjoect.Controller
@using BusinessLogic
@using Common
@using Photr_LBPrjoect.Model
@using Common.ViewModels
@using MatBlazor
@page "/on-init"

<PageTitle>Main Index</PageTitle>
<style>
	.demo-mat-card {
		max-width: 400px;
	}

	.demo-mat-card-content {
		padding: 1rem;
	}

	.demo-mat-card-clean-margin {
		margin: 0px;
	}
</style>
@foreach (var selectedItem in allOffersForMainPage)
{

	<MatCard class="demo-mat-card">
		<MatCardContent>
			<MatCardMedia Wide="true" Image=@selectedItem.TitelPic></MatCardMedia>
			<div class="demo-mat-card-content">
				<MatHeadline6 class="demo-mat-card-clean-margin">
					@selectedItem.Titel.ToString();
				</MatHeadline6>
				<MatSubtitle2 class="demo-mat-card-clean-margin">
					@selectedItem.Author.ToString();
				</MatSubtitle2>
			</div>

			<MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
				Visit ten places on our planet that are undergoing the biggest changes today.
			</MatBody2>
		</MatCardContent>
	</MatCard>
}

@code {
	BusinessLogic.Helper helper = new BusinessLogic.Helper(false);

	List<PhotrDb> allDataBaseEntrys = new List<PhotrDb>();
	List<PictureDb> allDataBasePic = new List<PictureDb>();
	List<MainPageViewModel> allOffersForMainPage = new List<MainPageViewModel>();
	//protected override void OnInitialized()
	//{
	//	GetShopItems();
	//}
	public void GetShopItems()
	{
		//allDataBaseEntrys = helper.GetData<PhotrDb>();

		foreach (var item in allDataBaseEntrys)
		{
			allDataBasePic = helper.GetSpecificData<PictureDb>(whereData: item.Author, whereStatement: nameof(PictureDb.Author));
			MainPageViewModel oneOffer = new MainPageViewModel()
				{
					Author = item.Author,
					Price = item.Price,
					Titel = item.Titel,
					TitelPic = allDataBasePic.FirstOrDefault().Picture,
				};
			allOffersForMainPage.Add(oneOffer);
		}
	}
	public void itemClicked(object item)
	{

	}

}