@page "/Warenkorb"
@using Photr_LBPrjoect.Controller
@using BusinessLogic
@using Common
@using Photr_LBPrjoect.Model

<PageTitle>Warenkorb</PageTitle>

<h1>Warenkorb</h1>


@if (entryInWahrenKorb.Count() > 0)
{
	@foreach (var entrey in entryInWahrenKorb)
	{
		// show in warenkorb
	}
}
else
{
	<label>"sie müssen etwas in ihren wahrenkorb hinzufügen"</label>
}


@code {
	public List<PhotrDb> entryInWahrenKorb = new List<PhotrDb>();

	public void AddToWarenkorb(PhotrDb itemToadd)
	{
		entryInWahrenKorb.Add(itemToadd);
	}
}
